<a href="{plink $action, $row->$uniquete}" class="confirm-{$action}-{$row->$uniquete}"><img src="/images/admin/table-delete.png" />&nbsp;{$name}</a>

<div id="dialog-confirm-{$action}-{$row->$uniquete}" title="{_'admin.grid.confirmDelete'}" style="display: none;">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>{_'admin.grid.realyDeleteItem'}</p>
</div>
<script type="text/javascript">
  $(function() {
    $('a.confirm-{!$action}-{!$row->$uniquete}').click(function(){
        $( "#dialog-confirm-{!$action}-{!$row->$uniquete}" ).dialog('open');
        return false;
    });
    $( "#dialog-confirm-{!$action}-{!$row->$uniquete}" ).dialog({
        autoOpen: false,
      resizable: false,
      modal: true,
      buttons: {
          {_'admin.grid.realyDelete'}: function() {
          $( this ).dialog( "close" );
          window.location.href = $('a.confirm-{!$action}-{!$row->$uniquete}').attr('href');
        },
          {_'admin.grid.cancel'}: function() {
          $( this ).dialog( "close" );
        }
      }
    });
  });
  </script>