<a href="#" onClick="window.open('{$presenter->link($action, $row->$uniquete)|noescape}', '_blank', 'width=800,height=600'); return false;" class="confirm-{$action}-{$row->$uniquete}"{if !is_null($title)} title="{$title}"{/if}>{$name}</a>